html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family:'Courier New', Courier, monospace;
}

a {
    text-decoration: none;
    color: slategray;
}

a:hover {
    color:darkslategray;
}

header {
    text-align: center;
    margin: 0px;
    padding: 0px;
}

main {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

#controls {
    text-align: center;
    margin-bottom: 15px;
}

#grid-container {
    border: 1px solid black;
    background-color: lightgray;
    margin: 10px;
    padding: 0px;
    min-height: 400px;
    width: 400px;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
    grid-gap: 1px;
    /* justify-items: center; */
    /* align-items: center; */
}


.cell { 
    background-color: white;
}

#credit {
    padding-top: 5px;
    font-size: 0.9em;
}