html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family:'Courier New', Courier, monospace;
}

header {
    text-align: center;
}

main {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

#controls {
    text-align: center;
    margin-bottom: 25px;
}

#grid-container {
    border: 1px solid black;
    margin: 25px;
    padding: 0px;
}

.cell { /* for now size is locked to class */
    background-color: silver;
    border: 1px solid dimgray;
    height: 15px;
    width: 15px;
}